<div class="row mx-auto">
  <div class="col-md-7 mx-auto">
    <h2>User info</h2>

    <%= form_with model: @user , local: true do |f| %>
      <div class="mb-3">
        <%= f.label :name %>
        <%= f.text_field :name,class:"form-control" %>
      </div>
      <div class="mb-3">
        <%= f.label :image %><br/>
        <%= f.attachment_field :profile_image %>
      </div>
      <div class="mb-3">
        <%= f.label :introduction %>
        <%= f.text_area:introduction,class:"form-control" %>
      </div>
      <div class="mb-3">
        <%= f.submit "Update User",class:"btn btn-success btn-md" %>
      </div>
    <%end%>

  </div>
</div>
