<tbody>
    <tr>
      <td><%=link_to user_path(book.user_id) do %>
        <%= attachment_image_tag book.user, :profile_image,:fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg",size:"50x50"%><br/>
        <%= book.user.name %>
        <%end%>
      </td>
      <td><%=link_to book_path(book.id) do %>
        <%= book.title %><%end%>
      </td>
      <td><%= book.body %></td>
      
      <% if book.user == current_user %>
        <td><%= link_to "Edit",edit_book_path(book.id) ,class:"btn btn-success btn-sm"%></td>
        <td><%= link_to "Destroy",book_path(book.id) ,method: :delete,class:"btn btn-danger btn-sm"%></td>
      <%end%>
    </tr>
</tbody>
